<%- include('../layout/header.ejs')%>
<div class="back_form"> 
    <div class="form">
        <div class="textbox">Предложите инфоповод</div>
        <input type="text" name="name" placeholder="Введите имя" class="field">
        <input type="email" name="email" placeholder="Введите email" class="field">
        <input type="text" name="text" placeholder="Введите текст" class="bigfield">
    </div>

    <!-- <div class="field">
        <input class="submit" type="submit" name="Отправить">
    </div> -->
    
    <div class="container">
  </div>
</div>
<br>
<%- include ('../layout/footer.ejs') %>