.about_01{
    background-image: url("../images/about_01.jpg");
    width: auto;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    .heading{
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 50;
        font-weight: 600;
        color: $primaryColor;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
}

.about{
    background-image: url("../images/about.jpg");
    width: auto;
    height: 1020px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    .heading{
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 50;
        font-weight: 600;
        color: $primaryColor;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
}