.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $headerHeight;
  font-size: 15px;
  background-color: $primaryColor;
  opacity: 0.9;
  z-index: 1000;

  .logo {
    background-image: url("../images/round_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // background-color: lightcoral;
    width: 150px;
    height: $headerHeight + 50px;
    margin-top: 3.8%;
    // margin-left: 30px;
  }

  .container {
    height: 100%;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    // background-color: cyan;
    padding: 0 $freeSpace 0 $freeSpace;


    .infopovod {
      width:300px;
      height:35px;
      border-radius: 12px;
      background-color: $whiteColor;
      // font-family: 'Kantumruy';
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      line-height: 35px;
    }

    .menu {
      display: flex;
      list-style: none;
      height: 100%;
      align-items: center;
      font-size: 17px;
      font-weight: 550;

      li {
        a {
          color: $whiteColor;
        }
      }
    }
  }
}
