<footer class="footer">
  <div class="logo"></div>
  <div class="container">

    <div class="textbox">
      ИЗДАНИЕ МОСКОВСКОГО ГОСУДАРСТВЕННОГО <br> 
      УНИВЕРСИТЕТА ПИЩЕВЫХ ПРОИЗВОДСТВ
    </div>
    <div class="textbox">
      125080, г. Москва, Волоколамское шоссе, 11 <br>
      тел. +7 (499) 750-01-11<br>
      e-mail: insidepress.mgupp1@gmail.com
    </div>
  </div>
</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>

</body>

</html> 